.types-repair-section {
    min-width: 320px;
}
.types-repair-section__header {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.types-repair-section__header-text {
    margin: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: var(--menu-text-color);
}

.type-cards-swiper .swiper__wrapper {
    margin-top: 16px;
}

.type-cards-swiper .show-all-hide-types {
    height: 172px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .type-cards-swiper .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .type-cards-swiper .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0;
        margin-left: 16px;
    }
}


.type-cards-swiper .swiper-slide {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 160px;
    background-color: var(--header-background-color);
    border: 1px solid var(--divider-color);
    border-radius: 6px;
    margin-left: 16px;
}


@media screen and (min-width: 768px) {
    .swiper-slide {
        box-sizing: border-box;
    }

    .type-cards-swiper .swiper__slide {
        width: 224px;
        height: 160px;
        margin-bottom: 16px;
        margin-right: 16px;
    }

}

.swiper-slide__label {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--paragraph-color);
    margin: 16px 0 0 16px;
}

.swiper-slide__button {
    padding: 0;
    margin:0 16px 16px 0;
    align-self: flex-end;
}

.more-button {
    width: 40px;
    height: 40px;
    color: var(--user-button-color);
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid var(--user-button-color);
    background-color: var(--header-background-color);
}

.type-cards-swiper .swiper-pagination-types {
    display: flex;
    justify-content: center;
    width: 184px;
    
}

.type-cards-swiper .type-cards-swiper__pagination {
    margin: 0 auto;
    margin-bottom: 24px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--swiper-pagination-bullet-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--swiper-pagination-bullet-active-color);
}

@media screen and (min-width: 768px) {
    .type-cards-swiper .swiper-pagination-types {
        display: none;
        margin: 0;
    }    
}



.swiper-slide__button:hover {
    background-color: var(--user-button-active-color);
    opacity: 0.5;
}

.swiper-slide__button:active {
    background-color: var(--user-button-active-color);
    opacity: 1;
}